<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Welcome to the Product Page</h1>
<div class="container">
    <h1>Welcome to the Product Page</h1>
    <div class="container">
        <form th:object="${proObj}"  th:action="@{/product}"  method="post">
          <table>
			  <tr>
				  <td>NAME:</td>
				  <td><input type="text" th:field="*{name}"></td>
			  </tr>
			  <tr>
				  <td>PRICE:</td>
				  <td><input type="number" th:field="*{price}"></td>
			  </tr>
			  <tr>
				  <td>QUANTITY:</td>
				  <td><input type="number" th:field="*{qty}"></td>
			  </tr>
			  <tr>
			  <td><input type="submit" value="submit" class="btn btn-primary"/></td>
			  </tr>
		  </table>
        </form>
        
        <a href="data">Go to view all products</a>
    </div>
</div>

</body>
</html>