<!DOCTYPE html>
<html lang=""en xmlns:th="http://www.tgymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Person Data</title>
	</head>
	<body>
		<h1>view products </h1>
		<table border="4">
			<thead>
				<tr>
					<th>Pro ID</th>
					<th>NAME</th>
					<th>PRICE</th>
					<th>QUANTITY</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="p:${plist}">
					<td th:text="${p.pid}"/>
					<td th:text="${p.name}"/>
					<td th:text="${p.price}"/>
					<td th:text="${p.qty}"/>
					<td>
					<a href="#" class="btn-btn-danger">Delete</a>
					<a href="#" class="btn-btn-primary">Edit</a>
					</td>
					</tr>
					
					
				</tr>
			</tbody>
		</table>
	    
		<a href="/">ADD PRODUCT</a>
	</body>
</html>